@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');
body {font-family: 'Crimson Text', serif;}
h1,h2,h3 {font-family: 'Montserrat', sans-serif;}
h1,h3 {margin-top: 50px;}
h1 {line-height: 15px;}
p {font-size: 1.2em;}
a{color: #005691;}
div#center {padding: 3%;}
